html {
    background-color: rgb(244, 212, 227);
}
body {
    margin: 0;
    padding: 0;
}

.box {
    height: 100%;
    width: 100%;
    float: left;
}

.vertical-stripe {
  background: repeating-linear-gradient(90deg, 
    rgb(244, 212, 227), rgb(251, 223, 236) 12px, 
    rgb(243, 175, 210) 0px, rgb(243, 175, 210) 24px);
}

iframe {
    border: none;
}

.menu-front-pdf {
    text-align: center;
    border: none;
}

.menu-back-pdf {
    text-align: center;
}

.menu-frame {
    width: 420px;
    height: 880px;
    margin: 0 auto;
}
